
article{width: 300px;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 10px ;
    color: rgb(11, 6, 16);
    border: 5px solid black;
    
}
@keyframes defile{
    0%{
        transform: translateX(100%);
     color: black;
    }
    100%{
        transform: translateX(-100%);
       
    }
} 
footer img{
height: 30px;
width: 30px;

}
footer,section{ display: block;
    margin-right: 50px;
   margin-left: 50px;
    text-align: center;
}
h1{animation: defile 11s linear infinite;
    text-align: center;
    color: black;
    font-size: 40px;
    font-family: 'Times New Roman';
}


button:active{
    background-color: green;
    font-weight: unset;
    transform:scale(1.3);
}

h2{ 
    background-color: rgba(43, 43, 43, 0.669);
    font-family: Tahoma;
    font-style: inherit;
    font-size: larger;
    height:70px;
    color: aliceblue;
}
a:active{
    text-align: center;
    text-decoration: none;
    font-size:9px;

    
}
@keyframes zoom{
    0%{
        transform: scale(3);
    }
}
img:hover{
    animation: zoom 5s linear;
}
img{
    width: 100px;
    height:100px;
    border-radius: 50px 50px;
    box-shadow:0px 20px 20px rgb(11, 11, 11) ;
}
article img{margin:0px 19%;
    border-radius: 50px 50px;
    box-shadow:0px 20px 20px rgb(11, 11, 11) ;
}
label{
    display:inline-block;
   font-size:50px;
    font-family:Georgia;
    font-size: larger;
}
form{
gap: 10px;
   grid-template-rows: 10px;
    text-align: center;
}

legend{
    font-family:Arial;
    font-size: 40px;
}
button,.bt{
    color: antiquewhite;
    box-shadow: 10px 10px 10px rgb(43, 43, 43); 
    background-color: rgb(27, 27, 27);
    box-shadow: 10px 10px 10px 10px;
    border-radius: 50px;
    font-size: 20px;
    margin: 40px 60px ;
    width:200px;
    height:50px;
    font-weight: bold;
    
}
input{
font-size:20px;
border-radius: 50px 50px 50px 50px;
background-color: rgba(128, 128, 128, 0.494);

}
input:hover{ 
   
    box-shadow: 10px 10px 10px rgb(24, 23, 23); 
    background-color: rgba(59, 61, 60, 0.753)
}

nav ul{
   cursor: pointer;
   background-color: rgba(213, 213, 213, 0.701);
    border: 5px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8,auto);
    gap:75px;
    position:static;
    top:150px;
}

a:hover{
    font-weight: bold;
    text-decoration: none;
    color: rgb(34, 36, 34);
    font-size:20px;
}
li,a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(18, 17, 17);
    font-size:20px;
    text-decoration: none;
    list-style: none;
}
.ab{
display: grid;
grid-template-columns: repeat(3,auto);


}


table{
    border-spacing:30px;
    
}
p{text-align: center;
    font-size:30px;
    font-family:'Times New Roman';
    background-color: rgba(246, 244, 244, 0.991);
    position: relative;
    top:80px;
    cursor: pointer;
    
  

}
fieldset{
    font-size: 30px;
  
  background-image: url(background/b.jpg);
    margin-left:100px;
    width:auto;
}
@media screen and(max-width:400px) {
    body{
        grid-template-columns:2fr;
        background-color: grey;
    }
    
}
section,footer{
gap: 20px;
    
}




label,h3{font-size:30px;
    font-family:'Franklin Gothic Medium';
}
.cc{
    position:absolute;
    left:1100px;
    top:5px;
}
td,th{
    border: 1px solid black;
    font-weight: bold;
    width: 900px;
    height:50px;
}
table{
    margin-top:50px;
    margin-left: 50px;
    margin-right: 70px;
}

table{
    margin-left: 100px;
}
video{
    height: 150px;
    width: 150px;
    margin-top:80px;
   
}

audio{
    width:1000px;
   
}
